PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=caed_db
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui
EXPO_ACCESS_TOKEN=tu_expo_token_para_notificaciones
FACE_API_KEY=tu_face_api_key
FACE_API_SECRET=tu_face_api_secret
CAMPUS_LAT=10.9639
CAMPUS_LNG=-74.7964
CAMPUS_RADIO_METROS=500
UMBRAL_ALERTA_FALTAS=3
MINUTOS_NOTIFICACION_PROFESOR=15
MINUTOS_VENTANA_TARDIO=30
